.App {
  text-align: center;
  background-color: rgb(13, 13, 49);
  color: bisque;
}
.Coin-table{
  margin: 50px auto 50px auto;
  display: inline-block;
  border: 1px solid blanchedalmond;
  border-collapse: collapse;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-title{
  font-size: 36px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
